@import './../../colors.scss';
#footer-bar {
    height: 3em;
    border-radius: 0 0 10px 10px;
    background-color: $primary-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        margin: 0 auto;
        text-align: center;
        padding: 10px;
        color: white;
        font-family: Arial;
    }
}