<section class="detail-product" style.boxShadow="-5px 0px 10px 2px {{singleProduct?.backgroundLight}}99">
    <div class="detail-img">
        <img class="product-img" src="../assets/img/{{singleProduct?.src}}" />
    </div>
    <div class="detail-info">
        <div class="detail-info-main">
            <h2> {{singleProduct?.name}} - <span>{{singleProduct?.platform}}</span></h2>
            <div class="info-price info">
                <p>Price: </p>
                <p class="info-dynamic"> {{singleProduct?.price}}€</p>
            </div>
            <div class="info-desc info">
                <p>Descrition: </p>
                <p class="info-dynamic"> {{singleProduct?.description}}</p>
            </div>
            <div class="info-date info">
                <p>Release date: </p>
                <p class="info-dynamic"> {{ singleProduct?.releaseDate }}</p>
            </div>

        </div>
        <div class="info-action">
            <button class="product-buy-btn btn-product" (click)="onClickAdd(singleProduct)" [style.background]="singleProduct?.backgroundDark">Add to cart <i class="fa fa-cart-plus" aria-hidden="true"></i></button>

            <div class="info-action-route">
                <a class="btn-product" [style.background]="singleProduct?.backgroundLight" routerLink="/products"><i class="fa fa-arrow-left" aria-hidden="true"></i><span>Back</span></a>
                <a class="btn-product" [style.background]="singleProduct?.backgroundLight" routerLink="/cart"><span>Go to cart</span><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>

</section>