$primary-pink: #d81b60;
$primary-pink-l:#ff5c8d;
$primary-pink-d:#a00037;
$primary-blue-d:#a2e8f6;
$primary-blue:#85c7de;
$primary-text:#212121;
$primary-color-l:#B3E5FC;
$secondary-text:#757575;
$body:#c6dbf0;